
<h1>Earthmoves Past Days</h1>

<div class="media">
  <div class="media-body">
    <table class="table table-hover">

      <thead>
        <tr>
          <th>Time</th>
          <th>Latitude</th>
          <th>Longitude</th>
          <th>Depth</th>
          <th>Mag</th>
          <th></th>
          <th></th>
          <th></th>
        </tr>
      </thead>

      <tbody>
        <% @earthmoves_past_days.each do |earthmoves_past_day| %>
          <tr>
            <td><%= earthmoves_past_day.time %></td>
            <td><%= earthmoves_past_day.latitude %></td>
            <td><%= earthmoves_past_day.longitude %></td>
            <td><%= earthmoves_past_day.depth %></td>
            <td><%= earthmoves_past_day.mag %></td>
            <td><%= link_to 'Show', earthmoves_past_day %></td>
            <td><%= link_to 'Edit', edit_earthmoves_past_day_path(earthmoves_past_day) %></td>
            <td><%= link_to 'Destroy', earthmoves_past_day, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
        <% end %>
      </tbody>
</table>
</div>
</div>
<br>

<h3> Import Earthmoves_past_days</h3>
<%= form_tag import_earthmoves_past_days_path, multipart: true do %>
   <%= file_field_tag :file %> 
   <%= submit_tag "upload earthmoves_past_day " %>
<% end %>


<%= link_to 'New Earthmoves Past Day', new_earthmoves_past_day_path %>
